.login-bold-link {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form p {
    margin-bottom: 20px; /* Отступ для имени пользователя */
    font-size: 20px; /* Увеличиваем шрифт для имени пользователя */
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.error-message,
.signup-link a {
    color: #007bff;
}

.error-container {
    text-align: center;
    color: red;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.error-container.active {
    visibility: visible;
    opacity: 1;
}

/*  ------------------------------------------------------------------------------------------ */

/* Стили для страницы /main */
.main-header {
    background-color: #f0f0f0;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bold-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
}

.main-user-info {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000000;
    font-size: 20px; /* Увеличиваем размер текста для имени пользователя */
    text-decoration: none;
}

.main-user-info a {
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px; /* Увеличиваем размер текста для кнопки выхода */
}

.main-content {
    padding: 30px; /* Увеличиваем внутренний отступ блока на 30px */
    text-align: center;
    background-color: #f0f0f0; /* Сохраняем серый цвет фона */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% + 30px); /* Увеличиваем ширину блока на 30px с обоих сторон */
    margin-left: -15px; /* Компенсируем добавленные 30px слева */
    margin-top: 30px; /* Увеличиваем отступ сверху на 30px */
}

.main-content h1 {
    color: #007bff;
}
