<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login-signup.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login-signup.css">
</head>

<style>


</style>
<body>


<a href="http://localhost:8081" class="bold-link" style="position: absolute">KostPost Bank</a>


<div class="links-container">
    <!-- Ссылка Sign In -->
    <a href="/login" class="sign-in-link">Sign In</a>
    <!-- Ссылка Sign Up -->
    <a href="/registration" class="sign-up-link">Sign Up</a>
</div>




</body>
</html>
