<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/main-page.css">
</head>
<body>

<script>
    function showFeature(featureName) {
        const featureContainer = document.getElementById('feature-container');
        const transferForm = document.getElementById('transfer-form');
        const featureText = document.getElementById('feature-text');
        const featureButton = document.getElementById('feature-button');

        if (featureName === 'Перевод') {
            transferForm.style.display = 'block'; // Показываем форму перевода
            featureContainer.style.display = 'none'; // Скрываем контейнер функций
        } else {
            featureText.textContent = featureName;
            featureButton.textContent = "Выполнить " + featureName;
            featureContainer.style.display = 'flex'; // Показываем контейнер функций
            transferForm.style.display = 'none'; // Скрываем форму перевода
        }

        // Очищаем сообщение об ошибке при смене функции
        document.querySelector('.error-wrapper .error-message').textContent = '';
    }

    function formatCardNumber(input) {
        let cardNumber = input.value.replace(/[^\d]/g, '').substring(0, 16);
        cardNumber = cardNumber !== '' ? cardNumber.match(/.{1,4}/g).join(' ') : '';
        input.value = cardNumber;
    }

    function validateForm() {
        const errorMessage = document.querySelector('.error-wrapper .error-message');
        if (errorMessage && errorMessage.textContent.trim() !== '') {
            return false; // Блокируем отправку формы, если есть сообщение об ошибке
        }
        return true; // Разрешаем отправку формы, если ошибок нет
    }
</script>

<div class="main-header">
    <a href="http://localhost:8081/main" class="login-bold-link">KostPost Bank</a>
    <div class="main-user-info" sec:authorize="isAuthenticated()">
        <span sec:authentication="name">Username</span>
        <span sec:authorize="isAuthenticated()" class="user-balance"> Balance: $ <span th:text="${userBalance}"></span> </span>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>


<div class="sidebar-links">
    <button class="sidebar-button" onclick="showFeature('Перевод')">Перевод</button>
    <button class="sidebar-button" onclick="showFeature('Банк')">Банк</button>
    <button class="sidebar-button" onclick="showFeature('Конвертация')">Конвертация</button>
    <button class="sidebar-button" onclick="showFeature('Депозит')">Депозит</button>
    <button class="sidebar-button" onclick="showFeature('История')">История</button>
</div>

<div id="feature-container" class="feature-container">
    <button id="feature-button" class="feature-button">Функция</button>
    <span id="feature-text" class="feature-text"></span>
</div>

<form id="transfer-form" action="/transfer" method="post" onsubmit="return validateForm()">
    <div class="form-group">
        <label for="card-number">Номер карты:</label>
        <input type="text" id="card-number" name="card-number" maxlength="19" oninput="formatCardNumber(this)">
    </div>
    <div class="form-group">
        <label for="amount">Сумма транзакции:</label>
        <input type="number" id="amount" name="amount" step="any">
    </div>
    <div class="form-group">
        <label for="comment">Комментарий:</label>
        <textarea id="comment" name="comment"></textarea>
    </div>
    <button type="submit" class="submit-button">Выполнить перевод</button>
</form>

<div class="error-wrapper">
    <!--/*@thymesVar id="errorMessage" type=""*/-->
    <div th:if="${errorMessage}" class="error-message" style="color: red;">[[${errorMessage}]]</div>
</div>

</body>
</html>
