<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- Ваши стили -->
    <link rel="stylesheet" href="/static/login-signup.css">
</head>
<body>

<a href="http://localhost:8081/main" class="login-bold-link">KostPost Bank</a>

<div class="login-container">
    <div class="login-form">
        <form action="/signup" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Sign Up">
            <p th:if="${errorMessage}" class="error-message" style="color: red;">[[${errorMessage}]]</p>
        </form>
    </div>
</div>
</body>
</html>
